@import "fonts";
@import "colors";
/*Page contents*/
.wrapper{
  /*content header title*/
  .content-header{
    background: #57bb8f;
    padding: 15px 15px 15px 15px;
    h1{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: 'Bangers', cursive;
      color: #fffff8;
      font-size: 35px;
      text-shadow: 1px 2px 4px #000;
    }
  }
  /*small boxes*/
  .small-box{
    .icon{
      font-size: 80px;
    }
    &:hover{
      .icon{
        font-size: 85px;
      }
    }
  }
  .goals{
    background-color: $default-green;
    .inner{
      color: #fff;
    }
  }
  /*small boxes end*/

  /*goals page*/
  .default-green{
    background-color: $default-green;
    color: #fff;
  }
  .default-yellow{
    background-color: $default-yellow;
    color: #fff;
  }
  .default-red{
    background-color: $default-red;
    color: #fff;
  }
  #color-chooser{
    .event-green{
      color: $default-green;
    }
    .event-yellow{
      color: $default-yellow;
    }
    .event-red{
      color: $default-red;
    }
    a{
      margin-left: 10px;
    }
    span{
      position: relative;
      font-size: 20px;
      padding-left: 5px;
      top: -4px;
    }
  }
  .btn-event-primary{
    background-color: $default-green;
    border-color: $default-green;
    color: #fff;
  }
  /*goals page end*/
}