/*Page contents*/
.wrapper{
  /*small boxes*/
  .small-box{
    .icon{
      font-size: 80px;
    }
    &:hover{
      .icon{
        font-size: 85px;
      }
    }
  }
  .goals{
    background-color: #57BC90;
    .inner{
      color: #fff;
    }
  }
  /*small boxes end*/
}